#subflex
{
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-flow: column nowrap;
    width: 18vw;
    padding: 2vw;
    margin: .5vw .25vh .05vw 3vh;
}
#flex
{
    display: flex;
    margin: .5vw 1vh .05vw .25vh;
}
ul
{
    width: 45vw;
    margin: inherit;
    background-color: rgb(226, 226, 226);
}
#parrafo
{
    background-color: rgb(226, 226, 226);
    width: 50vw;
    margin: inherit;
    padding: 1vw .5vw 1vw .5vw;
    max-width: 50vw;
}
#imagen
{
    display: flex;
    align-self: auto;
    width: 2vw;
    height: 2vw;
    max-width: 2vw;
    max-height: 2vw;
    padding: .5vw;
}
#listaConTilde
{
    /*background-image: url(../images/Planes-tilde.svg);*/
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 100% .4%;

    padding-right: 5%;
    padding-bottom: 1.5%;

    margin-top: 2vw;
    margin-bottom: 2vw;

    max-block-size: 8vw;
    max-height: 8vw;
    max-width: 15vw;

    text-align: left;

    display: flex;
    flex-direction: column;
}
#listaConCruz
{
    /*background-image: url(../images/x-button.svg);*/
    background-size: 7%;
    background-repeat: no-repeat;
    background-position: 100% .4%;

    padding-right: 5%;
    padding-bottom: 1.5%;

    margin-top: 2vw;
    margin-bottom: 2vw;

    max-block-size: 8vw;
    max-height: 8vw;
    max-width: 15vw;

    text-align: left;

    display: flex;
    flex-direction: column;
}