#imagenLogo
{
    float: none;
    overflow: visible;
    text-align: center;
    width: 10%;
    height: auto;
    /*arriba% derecha% abajo% izquierda%*/
    margin: -3vw 43vw 1vw 43vw;
}

#whoWeAre
{
    padding-left: 4vw;
    padding-top: 2%;
    font-size: 20px;
}
#divStyle
{
    color: white;
    background-color: #ea0000;
    border-radius: 35px;
    text-align: right;
    width: 100%;
}
#divDetail
{
    color: black;
    background-color: white;
    text-align: left;
    height: 100%;

}